.body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.body{
    background-color: #FFF;
}

.body img{
    width: 100px;
    height: 100px;
}

.title{
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}