.botao{
    height: 50px;
    background-color: #fff671;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid #8163a6 ;
    cursor:pointer;
    color:#fff;
    color: #8163a6;
    margin-bottom: 10px;
}

.botao:hover{
    color:#95FFD4;
}