.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6b0ee2;
    padding-bottom: 40px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.caixaLogo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: yellow;
    margin-left: 80px;
}

.logo{
    height: 100px;
    width: 100px;
    /* margin-left: 100px; */
    margin-top:20px;
    
}
.titulosLogoSite{
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    margin-top: 20px;
}
.titulosLogos{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 20px;
    
}

.caixaIcones{
    width: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-right: 100px; 

}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 70px;
    padding-left: 70px;

}

.icon{
    /* margin-left: 20px; */
    /* padding-right: 60px; */
    margin-top:40px;
    width: 50px;
    height: 50px;
    /* padding-left:-70px; */
}



.divisao{
    display: inline-flex;
    flex-direction: column;
}

.barraPesquisa{
    padding-left: 10px;
    margin-top:40px;
    background: #fff;
    width: 600px;
    height: 41px;
    border: 2px solid #fff;
    border-right: #fff;
    font-size: 18px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 100px;
}
.quadrado{
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}
.caixaLupa{
    border: 2px solid #ffffff;
    width: 35px;
    height: 37px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.lupa{
    
    display: flex;
    width: 30px;
    height: 30px;
}


