.header{
    display: flex;
    background-color: #6b0ee2;
    color:yellow;
    padding-bottom:40px ;
}

.logo{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top:20px;
}

.divisao{
    display: inline-flex;
    flex-direction: column;
}
