.caixa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 40px;
    }

.produto{
    height: 400px;
    margin-right: 60px;
    border: 2px solid #8163a6;
    padding: 20px;
    border-radius: 3px;
    margin-top: 20px;
}

.produto .imagem img{
    width: 165px;
    padding: 10px 20px;
    height: 215px;
}

.descricao{
    align-items: center;
    text-align: center;
}
.descricao .nomeLivro{
    /* trocar a fonte para a do figma */
    font-family: Arial, Helvetica, sans-serif;
    color:#4c3d5f;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.descricao .precoLivro{
    /* trocar a fonte para a do figma */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#4c3d5f;
    font-size: 22px;
    margin-bottom: 10px;
    
}

